*{
    box-sizing: border-box;
}

.sign-in{
    width: 30vw;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }
}

.sign-in-container{
    display: flex;
    justify-content: space-between;
}


