footer{
    display: flex;
    height: 40vh;
    width: 100%;
    text-align: center;
    font-weight:500;
 .footer{
    margin:100px auto;
    
 }

    a{
        text-decoration: none;
        text-decoration: underline;
        display: inline-block;
        padding:0 5px ;

    }
    .icon{
        padding: 10px 15px;
    }



}